@font-face {
  font-family: 'PressStart2P';
	   url('../fonts/PressStart2P.woff') format('woff'), /* Pretty Modern Browsers */
	   url('../fonts/PressStart2P.ttf')  format('truetype'), /* Safari, Android, iOS */
	   url('../fonts/PressStart2P.svg#svgFontName') format('svg'); /* Legacy iOS */
	   url('../fonts/PressStart2P.woff2') format('woff2'), /* Super Modern Browsers */
}

body {
	font-family: 'PressStart2P', Lucida Console, sans-serif;
	background: #3350B3;
	color: #fff;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}

.tophotspot {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	z-index: 2;
}

.tophotspot:hover + header, header:hover {
    visibility: visible;
}

header {
	background: rgb(255, 220, 30);
	position: fixed;
	top: 0;
	width: 100% !important;
	height: 60px;
	box-shadow: 0 0 15px 1px black;
	z-index: 4;
}

header:hover {
	box-shadow: 0px 0px 25px 5px #000;
}

.topbar-current {
	width: 298px;
	height: 60px;
	float: left;
}

.topbar-current:hover {
	background: rgba(51, 51, 51, 0.5);
}

.icon {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 7px;
	left: 10px;
}

.navlocal {
	color: #3350B3;
	position: absolute;
	top: 16px;
	margin-left: 65px;
	font-family: segoe ui;
	font-weight: bold;
	font-size: 18px;
}

.tabs-button {
	display: none;
}

#navmenu {
	min-width: 298px;
	max-height: 100%;
	color: #3350B3;
	border-bottom: 1px solid;
	border-right: 1px solid;
	background: rgb(255, 220, 30);
	border-color: rgb(69, 69, 69);
	box-shadow: 0 0 15px 1px #000;
	padding: 10px 0 0 0;
	z-index: 2;
	position: fixed !important;
	top: 60px;
	left: 0;
	display: none;
}

#navmenu:hover {
	box-shadow: 0px 0px 25px 5px #000;
}

#navmenu > tab > ul {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 0;
}

#navmenu > tab > ul > a {
	text-decoration: none;
}

#navmenu > tab > ul > a > li {
	box-shadow: inset 0px -3px 0px -2px #3350B3;
	-webkit-user-drag: element;
	width: 100%;
	display: flex;
}

#navmenu > tab > ul > a > li:hover {
	background: rgba(51, 80, 179, 0.5);
}

#navmenu > tab > ul > a > li > div {
	min-width: 64px;
	height: 40px;
	text-align: center;
	display: flex;
}

#navmenu > tab > ul > a > li > div > img {
	margin: auto;
}

#navmenu > tab > ul > a > li > p {
	font-weight: bold;
	color: #3350B3;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
	float: none;
	align-items: center;
	display: flex;
}

#navmenu h1{font-size:18px}
#navmenu h2{font-size:13px}
#navmenu span{font-size:12px}

body > .scroller {
	top: 60px;
	height: calc(100% - 60px);
}

#inputSection {
	margin: 10px auto;
	width: 240px;
	height: 142px;
}

.btn {
	padding: 10px;
	color: #3350B3;
	border: #3350B3 outset 2px;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}

.btn:hover {
	color: #7A8FDA;
	border: 2px outset #7A8FDA;
}

.btn:active {
	color: #A7B5E8;
	border: 2px outset #A7B5E8;
}

.center-btn {
	left: 560px;
	padding: 40px 40px 40px 40px;
	display: inline-block;
}

.left-btn {
}

.upload-divisory {
	border-bottom: 2px outset #3350B3;
	width: 238px;
	display: block;
	margin: 10px 0 10px 0;
}

.dragndrop-text {
	text-align: center;
	color: #1B2A5F;
}

#saveButton {
	background: #3350B3;
}

.outputSection {
	min-height: 162px;
	border: 2px outset #3350B3;
	box-shadow: 0px 0px 0px 1px #fff;
	border-radius: 20px;
	background: rgb(255, 220, 30);
	margin: 86px 10px 40px 10px;
	padding: 10px;
	color: #3350B3;
}

.over-file {
	background: rgba(255, 255, 255, 0.5);
	border: 4px dotted #3350B3;
	box-shadow: none;
}

#error {
	text-align: center;
	color: red;
	font-weight: bold;
}

h1 {
	text-align: center;
	font-size: 25px;
}

h2 {
	text-align: center;
	font-size: 20px;
}

footer {
	text-align: center;
	font-size: 12px;
	background: rgb(255, 220, 30);
	color: #3350B3;
	border: #3350B3 groove 2px;
	box-shadow: 0px 0px 0px 1px #fff;
	padding: 10px;
	box-sizing: border-box;
}

footer a {
	color: #3350B3;
	opacity: 0.5;
}

footer a:hover {
	opacity: 1;
}

.menus {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	pointer-events: none;
}

.menus > div {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgb(255, 220, 30);
	color: #3350B3;
	pointer-events: all;
}

.scroller {
	width: 100%;
	height: calc(100% - 102px);
	position: fixed;
	top: 102px;
	overflow-y: overlay;
}

.return {
	float: left;
	font-size: 30px;
	margin: 10px 0 0 10px;
	cursor: pointer;
	-webkit-filter: opacity(0.5);
}

.return:hover {
	-webkit-filter: opacity(1.0);
}

.return:active {
	color: #0A2480;
	-webkit-filter: opacity(1.0);
}

a img {
	margin-left: 10px;
}

ul.tabs.center {
	text-align: center;
}

ul.tabs {
	margin: 10px 0 -1px 0;
	padding: 0;
	width: 100%;
	border-bottom: 1px solid #3350B3;
	float: left;
	font-size: 0;
	margin-bottom: 10px;
}

ul.tabs li {
	font-size: 14px;
	list-style-type: none;
	margin: 0 -2px 0 0;
	padding: 0;
	-webkit-filter: opacity(0.5);
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	zoom: 1;
	-webkit-user-drag: element;
}

ul.tabs li.first{margin-left:12px}
ul.tabs li.last{margin-right:12px}

ul.tabs li:hover {
	-webkit-filter: opacity(0.5);
	color: #3350B3;
}

ul.tabs li.current {
    -webkit-filter: opacity(1.0)
}

ul.tabs li a {
	text-decoration: none;
	color: rgba(0, 0, 255, 0.5);
	display: inline-block;
	padding: 9px 15px;
	position: relative;
	top: 0;
	left: 0;
	line-height: 100%;
	border-bottom: 0;
	font-size: 0.9em;
	zoom: 1;
	-webkit-user-drag: none;
}

ul.tabs li a:hover {
	border-bottom: 3px solid #3350B3;
}

ul.tabs li.current a {
	position: relative;
	left: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #3350B3;
	border-bottom: 3px solid #3350B3;
	font-weight: bold;
}

ul.tabs li.current a:hover {
	-webkit-filter: opacity(1.0);
}

.tab-preview {
	visibility: hidden;
	position: absolute; /*-- This need to be relative to each tab, and at same time absolute --*/
}

.tab-preview p {
	font-size: 8px;
}

.tab-preview span {
	font-size: 9px;
}

ul.tabs li.more a {
	cursor: pointer;
	font-size: 24px;
	line-height: 0;
	padding-bottom: 19px;
}

ul.tabs#toptab {
	margin-top: 27px;
	border: none;
	float: none;
}

ul.tabs#toptab h1 {
	display: none;
}

.selectible {
	-webkit-user-select: initial;
	cursor: text;
}

::selection {

	background: #3350B3;
	color: rgb(255, 220, 30);
}


::-moz-selection {

	background: #3350B3;
	color: rgb(255, 220, 30);

}


modern {
	display : none;
}

@media(max-width:480px) {
header {
	height: 48px!important;
}

.topbar-current {
	width: 278px;
	height: 48px;
}

.icon {
	width: 25px;
	height: 25px;
	top: 12px;
	left: 15px;
}

.navlocal {
	top: 11px;
	margin-left: 45px;
	font-size: 18px;
}

.tabs-button {
	color: #3350B3;
	font-size: 28px;
	border-left: 1px solid;
	width: 46px;
	height: 48px;
	line-height: 1.8;
	text-align: center;
	float: right;
	display: initial;
}

.tabs-button:hover {
	background: rgba(51, 51, 51, 0.5);
}

#navmenu {
	top: 48px;
	width: 100%;
	height: 100%;
}

ul.tabs#toptab {
	display: none;
	width: 100%;
	height: 100%;
	background: rgb(255, 220, 30);
	padding: 40px 10px 0px 10px;
	position: fixed;
	top: -27px;
	left: 0;
	color: #3350B3;
}

ul.tabs#toptab h1 {
	display: initial;
	margin-top: -8px;
}

ul.tabs#toptab li {
	border-top: 1px outset #3350B3;
	border-bottom: 1px outset #3350B3;
	border-left: 1px outset #3350B3;
	border-right: 1px outset #3350B3;
	margin-right: 10px;
	margin-bottom: 10px;
}

ul.tabs#toptab li:hover {
	-webkit-filter: opacity(0.8);
}

ul.tabs#toptab li a {
	border-bottom: none!important;
	text-align: center;
	padding-top: 3px;
}

ul.tabs#toptab li.more {
	position: fixed !important;
	left: initial !important;
	right: 0px !important;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin: 0;
	-webkit-user-drag: none;
}

ul.tabs#toptab li.more:hover {
	-webkit-filter: opacity(0.5);
}

ul.tabs#toptab li.more a {
	padding-top: 14px;
	font-size: 40px;
	border-bottom-left-radius: 5px;
}

ul.tabs#toptab li.more a:hover {
	background: #fff;
}

ul.tabs#toptab li.more a:active {
	border-left: 1px solid;
	border-bottom: 1px solid !important;
}

ul.tabs li.current:hover {
	-webkit-filter: opacity(1.0);
}

.tab-preview {
	width: 102px;
	height: 102px;
	border: 1px outset #3350B3;
	margin-bottom: 6px;
	visibility: visible;
	position: initial;
}

body > .scroller {
	top: 49px;
	height: calc(100% - 49px);
}

.return {
	float: none;
}

.scroller {
	height: calc(100% - 142px);
	top: 142px;
}
}