@font-face {
  font-family: 'PressStart2P';
       url('fonts/PressStart2P.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/PressStart2P.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/PressStart2P.svg#svgFontName') format('svg'); /* Legacy iOS */
       url('fonts/PressStart2P.woff2') format('woff2'), /* Super Modern Browsers */
}

body {
  font-family: 'PressStart2P', Lucida Console, sans-serif;
  background: blue;
  color: #fff;
}

.btn {
	padding: 10px;
	border: blue outset 2px;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}

.btn:active {
	border: #000000 inset 2px;
}

#inputLabel {
	background: rgb(255, 215, 0);
	color: blue;
	float: left;
}


#saveButton {
	background: blue;
}

#outputSection {
	min-height: 200px;
	border: blue groove 2px;
	box-shadow: 0px 0px 0px 1px #fff;
	border-radius: 20px;
	background: rgb(255, 215, 0);
	margin: 10px auto;
	padding: 10px;
}

#error {
	text-align: center;
	color: red;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-size: 20px;
}

#footer {
	text-align: center;
	font-size: 12px;
}